@charset "ISO-8859-1";

* {
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
margin:0
}

body {
background-color:#f5f5ed!important;
min-height:100vh;
position:relative
}

header {
background-color:#000;
color:#fff;
margin-bottom:28px;
padding:5px;
width:100%
}

section {
text-align:center;
width:100%
}

div.lista-tareas {
border-radius:7px;
margin:7px;
margin-bottom:4.5rem;
max-width:350px;
min-width:350px;
padding:10px
}

section>div:first-child {
background-color:#FFAB76;
border:5px solid #ff6200
}

section>div:nth-child(2) {
background-color:#FFFDA2;
border:5px solid #fffb00
}

section>div:last-child {
background-color:#BAFFB4;
border:5px solid #15ff00
}

.tarea {
border:2px solid #000;
border-radius:5px;
box-shadow:5px 7px 2px #000;
color:#000;
margin-top:14px;
padding:5px;
text-align:left
}

footer {
bottom:0;
height:2.5rem;
position:absolute;
text-align:center;
width:100%
}