@charset "ISO-8859-1";
* {
    box-sizing: border-box;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(245, 245, 237);
}

header {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px;
    width: 100%;
    margin-bottom: 28px;
}


section{

    width: 85%;
    margin: auto;
    min-width: 300px;
    text-align: center;
    background-color: black;
}

div.lista-tareas{

    display: inline-block;
    width: 30%;
    padding: 10px;
    min-width: 300px;
    margin: 7px;
    border-radius: 7px;
}

section>div:first-child{
    background-color: #FFAB76;
    border: 5px solid #ff6200;
}

section>div:nth-child(2){
    background-color: #FFFDA2;
    border: 5px solid #fffb00;
}

section>div:last-child{
    background-color: #BAFFB4;
    border: 5px solid #15ff00;
}

.tarea {
    text-align: left;
    padding: 5px;
    margin-top: 14px;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 5px 7px 2px  #000000;
}

footer{
    position: relative;
    text-align: center;
}

